<h1>投稿一覧</h1>
<table>
  <thead>
    <tr>
      <th>投稿日</th>
      <th>投稿者名</th>
      <th>店名</th>
    </tr>
  </thead>
  <% @post.each do |post| %>
  <tbody>
    <tr>
      <td><%= link_to post.created_at.strftime('%Y/%m/%d %H:%M'), public_post_path(post) %></td>
      <td><%= post.user.name %></td>
      <td><%= post.shop %></td>
    </tr>
  </tbody>
  <% end %>
</table>

