<div class="container-fluid background">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
<br>
<h2>このサイトについて</h2>
<br>
<p>VEGE SPOTは北海道の採れたての野菜を購入できる<br>
販売所の情報を検索・投稿するサイトです。<br>
「道産野菜をもっと知って、たくさんの方に食べて頂きたい」<br>
をコンセプトとしており,道の駅や地元の方が知る直営店など<br>
様々な情報を共有していきましょう。</p>
<br>
<p>生産者の方からの投稿もお待ちしております。</p>

    </div>
  </div>
</div>