<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

<h3>
  VEGE SPOTで<br>
  もっと道産野菜を知ろう！<br>
  食べよう！
</h3>
<br>

<h4><%= link_to "販売店を検索", public_posts_path %></h4>

    </div>
  </div>
</div>
